
.daterangepicker
  &.dropdown-menu
    opacity: 1
    visibility: visible
    display: none
    border: 1px solid #e8e8e8
    box-shadow: 0px 2px 2px rgba(0,0,0,.3)
    border-radius: 0px
  &_input
    .input-mini
      &.active
        border: 1px solid #00a550
  .calendar
    .calendar-time
      position: absolute
      right: 30px
      top: 0
      margin: 0
      select.ampmselect,  select.hourselect,  select.minuteselect,  select.secondselect
        width: auto
        border-radius: 0px
        padding: 0
        margin: 0
        background-color: transparent
      select.hourselect,  select.minuteselect
        padding: 0 10px
  .calendar-table
    table
      box-shadow: none
      border-bottom: none
    thead
      tr
        th
          border-bottom: 1px solid lightgray
      th
        width: auto
        border-radius: 0px
        padding: 5px 0
        background: #fff
        &.available
          position: relative
        .datepicker-navigation
          line-height: 1.7rem
          text-align: center
          cursor: pointer
          position: absolute
          top: 25%
          width: 0
          border: .45rem solid transparent
          z-index: 1
          &.left
            left: 10px
            border-right-color: #00a550
            &:hover
              border-right-color: #009548
          &.right
            border-left-color: #00a550
            right: 10px
            &:hover
              border-left-color: #009548
    tbody
      tr:hover
        td
          border-radius: 0px
          // background-color: rgba(0, 165, 80,.65)
      td
        position: relative
        &.active.available, &.active.available:hover
          background-color: #00a550
          color: #fff
        &.available.in-range
          background-color: rgba(0, 165, 80,.65)
          color: #fff
        &.available.active.start-date, &.active.available.end-date
          background-color: #00a550
        &.active.available.start-date, &.active.available.start-date:hover, &.active.available.end-date, &.available.in-range:hover
          &:after
            content: ""
            position: absolute
            top: 0
            left: 100%
            width: 100%
            height: 100%
            background-color: #00a550
            z-index: 1
            -webkit-clip-path: polygon(2% 0, 20% 50%, 2% 100%, 0 100%, 0 0)
            //clip-path: polygon(0 0, 20% 50%, 0 100%)
            clip-path: polygon(2% 0, 20% 50%, 2% 100%, 0 100%, 0 0)
        &.active.available.end-date, &.available.in-range:hover
          &:after
            left: -100%
            transform: rotate(-180deg)
        &.available.in-range:hover
          background-color: #00a550
        &.active.available.start-date.in-range:hover, &.active.available.start-date.end-date
          &:after
            content: none
  .range_inputs
    .applyBtn.btn,.cancelBtn.btn
      height: 30px
      line-height: 30px
      padding: 0 20px
      font-size: 11px

//Status
.unavail-in-calendar, .full-in-calendar
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
.full-in-calendar
  z-index: 2
  background: repeating-linear-gradient(-45deg, #ccc, #ccc 3px, #c01623 3px, #c01623 6px)
.instant-in-calendar
  position: absolute
  top: 4px
  right: 2px
#home-box .daterangepicker
  @media (min-width: 320px)
    width: 330px
  @media (min-width: 992px)
    width: auto