.card {
    border-radius: 25px;
    position: relative;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.13);
    background: #ffffff;
    overflow: hidden;
    transition: all .3s linear;
    &:hover {
        box-shadow: 0px 40px 42px rgba(0, 0, 0, 0.13);
    }
    &-label {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 10px;
        border-radius: 0 999px 999px 0;
        color: #fff;
        background-color: #08AD36;
        font-weight: 500;
        z-index: 10;
    }
    &-favorite {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }
    &-image {
        padding-bottom: 70%;
        position: relative;
        height: 0;
        overflow: hidden;
        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }
            img {
                transform: scale(1.1);
            }
        }
        &:before {
            position: absolute;
            content: "";
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.2);
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            transition: all .3s linear;
        }
        img {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.3s ease-in;
        }
    }
    &-content {
        font-size: 16px;
        padding: 10px 30px;
        .minor {
            margin: 0 5px;
        }
        sup {
            font-size: 8px;
            vertical-align: super;
        }
    }
    &-content, &-heading {
        border-bottom: 1px solid #E4E4E4;
    }
    &-content, &-features {
        cursor: default;
    }
    &-info {

    }
    &-heading {
        padding: 15px 30px;
        cursor: pointer;
        
        &:hover {
            h3 {
                color: #FFAC12;
            }
            p {
                color:  #FFAC12;  
            }
        }
        h3 {
            font-size: 18px;
            text-transform: lowercase;
            transition: all 0.5s ease-in;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            max-height: 54px;
            height: 54px;
        }
        p {
            font-size: 14px;
            color: #979797;
            text-transform: lowercase;
            transition: all 0.5s ease-in;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            max-height: 42px;
            height: 42px
        }
    }
    &-features {
        display: flex;
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding: 20px 0;
            &.center {
                border-right: 1px solid #E4E4E4;
                border-left: 1px solid #E4E4E4;
            }
        }
    }
}

.hcard {
    display: flex;
    &-avatar {
        margin-right: 15px;
    }

    &-content {
        flex: 1;
        color: rgba(0, 0, 0, 0.6);
        h3 {
            font-size: 20px;
            font-weight: 500;
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0);
            span {
                margin-left: 15px;
                font-weight: 400;
                color: #979797;
                font-size: 0.875rem;
            }
        }
    }
}
