.detailed {
    &-detail {
        &-col {
            display: flex;
            flex: 1;
            &:first-child {
                border-bottom: 1px solid #E5E5E5;
            }
            > div, button {
                display: flex;
                flex-direction: column;
                flex: 1;
                align-items: center;
                padding: 25px;
                &:first-child {
                    border-right: 1px solid #E5E5E5;
                }
            }
            > button {
                transition: color 0.3s ease-in;
                cursor: pointer;
                &:hover {
                    color: #FFAC12;
                    svg {
                        fill: #FFAC12;
                    }
                }      
            }
        }
        .icon {
            svg {
                width: 24px;
                height: 24px;
                transition: fill 0.3s ease-in;     
            }
        }
    }

    &__wrapper {
        display: flex;
        @media screen and (max-width: 767px){
            flex-direction: column;
        }
        sup {
            font-size: 10px;
            vertical-align: super;
        }
    }

    &-subcribe {
        padding: 30px 20px; 
    }
    &-gallery {
        overflow: hidden;
        width: 100%;
        .swiper-slide {
            border-radius: 30px 0 0 0;
            overflow: hidden;
        }
        &-image {
            width: 100%;
            height: 100%;
            position: relative;
            padding-bottom: 75%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }
        
    }
    &-header {
        width: 100%;
        height: fit-content;
        padding: 20px 80px;
        background: linear-gradient(295deg, rgba(0, 0, 0, 0.982162) 0.45%, #996300 100.47%);;
        color: #fff;
        display: flex;
        justify-content: space-between;
        @media (max-width: 600px) {
            top: 76px;
        }
        p {
            color: rgba( 255, 255, 255, 0.6 );
        }
    }

    &-block {
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        &-heading {
            position: relative;
            .tag {
                cursor: default;
                color: #FFAC12;
                margin-left: 10px;
            }
            h3 {
                font-size: 20px;
                font-weight: 700;
                border-bottom: 1px solid #E4E4E4;
                padding: 30px;
                color: #FFAC12;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #E4E4E4;
            }
        }
        &-description {
            padding: 30px;
        }
    }
    &-checkbox {
        display: flex;
        align-items: center;
        cursor: default;
        svg {
            path:first-child {
                fill: #FFAC12;
            }
        }
            
        p {
            margin-left: 10px;
        }
    }
    &-right {
        flex: 1;
        margin-left: 55px;
        width: 70%;
        
        @media screen and (max-width: 767px){
            margin-left: 0;
            margin-top: 20px;
            width: 100%
        }
    }
    &-left {
        flex-shrink: 4;
        width: 30%;
        .detailed-subblock {
            height: fit-content;
            box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.14);
            border-radius: 25px;
            background-color: #ffffff;
            overflow: hidden;
            .detailed-left-heading {
                background-color: #FFAC12;
                text-align: center;
                color: #ffffff;
                padding: 20px;
                h3 {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }
        }
        @media screen and (max-width: 767px){
            width: 100%
        }
    }
    &-images {
        position: relative;
        border-radius: 60px 0 0 0;
        overflow: hidden;
        &:before {
            content: '';
            padding-bottom: 56%;
            display: block;
        }
        > img {
            z-index: 1;
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &-comment {
        display: flex;
        padding: 30px 20px;

        @media (max-width: 576px) {
            flex-direction: column;
        }
        > div {
            flex: 1;
        }
        .comment-section {
            margin-left: 15px;
            flex: 1;
        }
        &_card {
            cursor: default;
            > h3 {
                font-size: 24px;
                font-weight: 600;
                color: #FFAC12;
            }
        }
        &_wrap {
            margin-left: 40px;
            @media (max-width: 576px){
                margin-left: 0;
            }
        }
        &_list {
            max-height: 400px;
            overflow-y: auto;
            li {
                padding: 10px;
                border-top: 1px solid #E5E5E5;
                border-bottom: 1px solid #E5E5E5;
                transition: border-color 0.3s ease-in;
                cursor: default;
                &:hover {
                    border-color: #FFAC12;
                }
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
        &-content {
            display: flex;
            flex: 1;
        }
        &-button {
            display: flex;
            justify-content: flex-end;
        }
    }
    &-button {
        padding: 20px;
        border-radius: 0 25px 0 0;
        background-color:#FFAC12;
        transition: all 0.2s ease;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        width:100%;
        display:block;
        &:hover {
            background-color: #ed9a00 ;
        }
    }
}

