.footer {
    display: flex;
    background: linear-gradient(225.52deg, rgba(0, 0, 0, 0.982162) 0.45%, #996300 100.47%);
    padding: 80px;

    @media (max-width: 767px) {
        padding: 40px;
    }
    @media (max-width: 576px) {
        flex-direction: column;
    }
    @media (max-width: 480px) {
        padding: 15px;
    }
    &-link {
        display: flex;
        flex: 3
    }
    &-main {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > div:not(:last-child) {
            margin-bottom: 20px;
        }
        @media (max-width: 576px) {
            margin-bottom: 35px;
        }
    }
    &-info {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    &-list {
        &-item {    
            &.heading a{
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                margin-bottom: 10px;
                transition: color 0.2s ease-in-out;
                color: #ffffff;
                &:hover {
                    color: #FFAC12;
                }
            }
            &:not(.heading) a,&:not(.heading){
                transition: color 0.2s ease-in-out;
                cursor: pointer;
                margin-bottom: 5px;
                color: #979797;
                padding: 10px 0;
                &:hover {
                    color: #FFAC12;
                }
            }
            
        }
    }
    &-logo {
        img {
            width: 120px;
        }
    }
    &-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                margin-left: 15px;
            }
        }
        svg {
            width: 24px;
            height: 24px;
            fill: #ffffff;
            cursor: pointer;
            transition: fill 0.3s ease-in-out;
            &:hover {
                fill: #FFAC12;
            }
        }
    }
}
