.header{
    background: linear-gradient(225.52deg, rgba(0, 0, 0, 0.982162) 0.45%,  #996300
    100.47%);
    display: flex;
    &-logo {
        width: 50px;
        height: auto;
        cursor: pointer;
    }
    &-post {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 45.5px;
        @media (max-width: 1136x) {
            padding-right: 17.5px;
        }
        @media (max-width: 600px) {
            padding-right: 7.5px;
        }
    }
}