.home {
    &-content {
        @media (max-width: 576px) {
            margin-top: 310px;
        }
    }
    &-search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        z-index: 99;
        border-radius: 10px;
        background-color: #ffffff;
        padding: 15px 15px 0 15px;
        @media (max-width: 767px){
            width: 90%;
        }
        @media (max-width: 576px) {
            position: relative;
            top: initial;
            left: initial;
            transform: initial;
            margin: 20px 30px;
            width: auto;
        }
        @media (max-width: 767px){
            margin: 20px 15px;
        }
    }
    &-slider {
        background-color: #F5F5F5;
        width: 100%;
        padding-top: 47.5%;
        height: 0;
        position: relative;
        &s, .home-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: '';  
        }
        .swiper-container {
            padding: 0;
        }
        .swiper-pagination-bullet {
            background: #fff;
            opacity: 0.4;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background: #fff;
        }
        .swiper-slide {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
            } 
        }

    }
    &-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.block-parallax {
    /* Set a specific height */
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 576px) {
        padding: 30px;
    }
    
    &-heading {
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 1.2px;
    }
    &-content {
        display: flex;
        @media (max-width: 576px) {
            flex-direction: column;
        }
        .col:first-child {
            margin-right: 50px;
            @media (max-width: 576px) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        .col {
            padding: 25px;
            border-radius: 15px;
            color: #ffffff;
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: default;
            > div, h4, p {
                margin-bottom: 10px;
            }
            > p {
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
            > h4 {
                font-size: 20px;
                font-weight: 500;
                @media (max-width: 576px) {
                    font-size: 16px
                }
            }
            .image > svg {
                width: 65px;
                height: 65px;
                @media (max-width: 576px) {
                    width: 40px;
                    height: 40px;
                }
                path {
                    // fill: #FFAC12;
                    fill: #FFFFFF;
                }
            }
            @media (max-width: 576px) {
                padding: 15px;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/images/background1.jpg");
        background-position: center;
        z-index: -10;
        background-repeat: repeat;
        background-size: cover;
    }
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(295deg, rgba(0, 0, 0, 0.98) 0.45%, rgb(153, 99, 0) 100.47%);
        opacity: 0.65;
        z-index: -9;
    }
    /* Create the parallax scrolling effect */
    
}