.login {
    display: flex;
    height: 100vh;
    &-link {
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        a, button {
            color: #1565D8;
            margin: 0 5px;
            font-weight: bold;
            transition: color 0.3s ease;
            &:hover{
                color: #2e7dea;
            }
        }
    }
    &-logo {
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &-left, &-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-left {
        width: 40%;
        position: relative;
        background-image: url('/images/Bitexco_Financial_Tower.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #FFAC12;
            opacity: 0.85;
        }
        @media (max-width: 767px) {
            display: none
        }
    }

    &-right {
        width: 60%;
        flex-direction: column;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &-note {
        margin: 5px 0;
        color: #979797;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    &-box {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    &-text-box {
        z-index: 1;
        position: relative;
        width: 60%;
        &::before {
            content: "''";
            font-weight: bold;
            font-size: 48px;
            position: absolute;
            top: -38px;
            left: 0;
        }
        &::after {
            content: url(/svgicon/close-quote.svg);
            position: absolute;
            bottom: -40px;
            right: 25px ;
        }
    }
    &-heading {
        font-weight: bold;
        font-size: 30px;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
}

.congrate {
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('/images/Bitexco_Financial_Tower.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFAC12;
        opacity: 0.85;
    }
    &-box {
        z-index: 1;
        text-align: center;
        color: #ffffff;

    }
    &-heading {
        font-size: 60px;
        font-weight: bold;
        @media (max-width: 767px) {
            font-size: 36px;
        }
    }
    &-subText {
        font-size: 35px;
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    &-redirect {
        margin-top: 90px;
        font-size: 28px;
        span {
            color: #08AD36;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }  
    }
}
