.postnews{
    &__wrapper {
        display: flex;
        @media screen and (max-width: 767px){
            flex-direction: column;
        }

        .image {
            &-item {
                position: relative;
                box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.14);
                &:before {
                    content: '';
                    padding-bottom: 56.75%;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-grids {
                max-height: 300px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            &-delete {
                position: absolute;
                top: -15px;
                right: -15px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid;
                background: #fff;
            }
        }
    }
    &-heading {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &-form-heading {
        font-size: 1rem;
        margin-bottom: 10px;
        font-weight: 500;
    }
    &-right {
        flex: 1;
        margin-left: 55px;
        border-radius: 25px;
        background-color: #ffffff;
        padding: 20px;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.14);
        @media screen and (max-width: 767px){
            margin-left: 0;
            margin-top: 20px;
        }
    }
    &-left {
        flex-shrink: 4;
        .postnews-block {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
    &-block {
        // height: 100%;
        padding: 20px;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.14);
        border-radius: 25px;
        background-color: #ffffff;
    }
    &-post {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
