.search {
    width: 100%;
    &-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0;
        &.main {
            
        }
        > div {
            margin-bottom: 0;
            width: 25%;
            @media (max-width: 576px) {
                width: 50%;
            }
        }
        
    }
    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // search page
    &-results {
        display: flex;
        flex-wrap: wrap;
        min-height: 1400px;
        @media (max-width: 1300px) {
            min-height: 1855px;
        }
        @media (max-width: 991px) {
            min-height: 2790px;
        }
        .result-item {
            width: 25%;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            > div {
                width: 80%
            }
            @media (max-width: 1300px) {
                width: 33.33%;
            }
            @media (max-width: 991px) {
                width: 50%;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }

    }
}
