.profile {
    &__wrapper {
        display: flex;
        @media screen and (max-width: 767px){
            flex-direction: column;
        }
    }
    &-avatar {
        position: absolute;
        right: -5px;
        top: -15px;
        border-radius:50%;
        background-color:#ffffff;
        border: 2px solid #000000;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    &-links {
        padding: 0 20px 20px;
        .item {
            border-top: 1px solid #979797;
            padding: 10px 0;
            font-weight: 500;
            cursor: pointer;
            a {
                transition: all 0.25s ease-in;
            }
            &:hover {
                a {
                    color: #FFAC12;
                }
            }
            &.active {
                border-top: 1px solid #FFAC12;
                a {
                    color: #FFAC12;
                }
            }
        }
    }

    &-block {
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        &-heading {
            border-bottom: 1px solid #E4E4E4;
            padding: 30px;
            select {
                min-width: 40px;
            }
            &.f-space-between {
                display: flex;
                justify-content:space-between;
                align-items: center;
            }
            position: relative;
            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #FFAC12;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #E4E4E4;
            }
        }
        &-description {
            padding: 30px;
            .paypal-svg {
                width: 75px;
            }
            .vnpay {
                width: 120px;
            }
        }
    }
    &-checkbox {
        display: flex;
        align-items: center;
        cursor: default;
        svg {
            path:first-child {
                fill: #FFAC12;
            }
        }
            
        p {
            margin-left: 10px;
        }
    }
    &-right {
        flex: 1;
        margin-left: 55px;
        width: 70%;
        .pagination {
            display: flex;
            justify-content: center;
        }
        
        @media screen and (max-width: 767px){
            margin-left: 0;
            margin-top: 20px;
            width: 100%
        }
    }
    &-left {
        flex-shrink: 4;
        position: relative;
        width: 30%;
        height: 100%;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.14);
        border-radius: 25px;
        background-color: #ffffff;
        &-info {
            text-align: center;
            padding: 60px 20px 20px;
            position: relative;
            .avatar {
                position: absolute;
                top: -45px;
                left: 50%;
                transform: translateX(-50%);
            }
            .name {
                font-weight: 500;
                font-size: 18px;
            }
            .joindate {
                font-size: 14px;
                color: #979797;
            }
            .money {
                color: #DB4437;
                font-weight: 500;
            }
        }
        @media screen and (max-width: 767px){
            width: 100%
        }
    }
}
