// Color Font
$color-base: #141414 !default;
$color-secondary: #979797 !default;
$color-primary: #FFAC12 !default;
$color-success: #08AD36 !default;
$color-error: #DB4437 !default;
$color-blue: #1565D8 !default;

// Font Style
$font-icon: 'lazalo'!default;
// media screen
$tiny-screen: 349px !default;
$xsmall-screen: 480px !default;
$small-screen: 576px !default;
$medium-screen: 767px !default;
$large-screen: 991px !default;
$xlarge-screen: 1199px !default;
// Page
$base-font: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;
$primary-font: 'Sanomat Sans', 'Encode Sans Expanded',-apple-system, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
$main_sprites:"../images/main_sprites.png";
$main_sprites_size:400px 400px;
$tut_sprites:"../images/tutorial_sprites.png";
$tut_sprites_size:500px 250px;
$faqs_sprites:"../images/icon-faqs.png";
$faqs_sprites_size:500px 500px;
$line-height:1.5;
$max-width:1240px;
$easing: cubic-bezier(0.7, 0, 0.3, 1);
// Font-variables
$h7: 1.125rem;
$l-h7: 27px;
//-- Common Variables
$pd-no-full-sect: 60px 0px ;
$size-s: 0.75rem;
$size-sm: .875rem ;
$size-med: 1rem ;
$size-name-car: 1rem;