// Here you can add other styles

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    &.col {
        flex-direction: column;
        > *:not(:last-child) {
            flex: 1;
            margin-bottom: 10px;
        }
    }
    &.trow {
        > *:not(:last-child) {
            margin-right: 10px;
        }
    }
}


.sidebarbrand {
    padding: 10px;
    img {
        width: 30%;
    }
}

.react-datepicker-wrapper {
    flex: 1;
}