
// html, body {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
// }
#my-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.position-relative {
    position: relative
}

.min-height {
    min-height: 500px
}


/* Align */
body {
    background: #fff;
    font-family: $primary-font;
    font-weight: normal;
    line-height: $line-height;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    // overflow-x: hidden
}


.verticalAlign-middle {
    vertical-align: middle
}

.textAlign-center {
    text-align: center
}

.textAlign-left {
    text-align: left
}

.textAlign-right {
    text-align: right
}

.centered {
    margin: 0 auto
}


/* Space */

.space {
    @include padding(5px null)
}

.space.m {
    @include padding(10px null)
}

.space.l {
    @include padding(20px null)
}

.space.xl {
    @include padding(40px null)
}


/* Radius */

.borderRadius-s {
    @include radius(3px)
}

.borderRadius-m {
    @include radius(5px)
}

.borderRadius-l {
    @include radius(10px)
}

.borderRadius-circle {
    @include radius(100%)
}


/* Transform */

.textTransform-lowercase {
    text-transform: lowercase
}

.textTransform-uppercase {
    text-transform: uppercase
}

.textTransform-capitalize {
    text-transform: capitalize
}


/* Box shadow */

.boxShadow-distant {
    box-shadow: 0 2px 8px rgba(31, 45, 61, .05)
}

.boxShadow-close {
    box-shadow: 0 1px 2px 0 rgba(31, 45, 61, .15)
}

.boxShadow-subtle {
    box-shadow: 0 0 1px 1px rgba(31, 45, 61, .15)
}


/* Display */

.display-table {
    display: table;
    width: 100%
}

.display-tableCell {
    display: table-cell
}

.df-align-center {
	display: flex;
	align-items: center;
}

/* Width/ height */

.autoHeight {
    height: auto!important
}

.width-100 {
    width: 100%!important;
    max-width: 100%!important
}

.height-100 {
    height: 100%!important;
    max-height: 100%!important
}

.backgroundCover--center {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

/* Show - Hide */
.hidden {
    display: none!important
}

.block {
    display: block!important
}

.visuallyHidden {
    visibility: hidden
}

.visuallyShow {
    visibility: visible
}

.show-on-small {
	display: none !important;
}


sup.new-func {
	vertical-align: super;
	font-size: 9px;
	font-weight: 600;
	color: #fc4a4a;
	padding-left: 5px;
	position: relative;
	top: -6px;
}

.flex-column {
	flex-direction: column
}

.box-container {
    padding: 50px 80px;
    background-color: #F5F5F5;
    @media (max-width: 767px) {
        padding: 40px 50px;
    }
    @media (max-width: 576px) {
        padding: 20px 30px;
    }
    @media (max-width: 480px) {
        padding: 20px 15px;
    }
}
