
/* Utility - Layout */
.marginLeft-xxs {
  margin-left: 5px;
}

.marginLeft-xs {
  margin-left: 10px;
}

.marginLeft-s {
  margin-left: 15px;
}

.marginLeft-m {
  margin-left: 20px;
}

.marginLeft-l {
  margin-left: 40px;
}

.marginLeft-xl {
  margin-left: 80px;
}

.ic-mr {
	margin-right: 5px;
}

.marginRight-xs {
  margin-right: 10px;
}


.marginRight-s {
  margin-right: 15px;
}

.marginRight-m {
  margin-right: 20px;
}

.marginRight-l {
  margin-right: 40px;
}

.marginRight-xl {
  margin-right: 80px;
}

.marginTop-xs {
  margin-top: 10px;
}

.marginTop-s {
  margin-top: 15px;
}

.marginTop-m {
  margin-top: 20px;
}

.marginTop-l {
  margin-top: 40px;
}

.marginTop-xl {
  margin-top: 80px;
}

.marginBottom-xs {
  margin-bottom: 10px;
}

.marginBottom-s {
  margin-bottom: 15px;
}

.marginBottom-m {
  margin-bottom: 20px;
}

.marginBottom-l {
  margin-bottom: 40px;
}

.marginBottom-xl {
  margin-bottom: 80px;
}

.marginVertical-xs {
  margin-top: 10px;
  margin-bottom: 10px;    
}

.paddingB-none {
  padding-bottom: 0;
}

.w-100 {
  width: 100% !important;
}

//=== Colors of Status
.green-dot {
  background-color: #00a550;
}

.red-dot {
  background-color: #f44336;
}

.danger-text {
  color: #DB4437;
}

.black-dot {
  background-color: #141414;
}

.orange-dot {
  background-color: #fde28b;
}

.orange-label {
  background-color: #FA7D19;
}

.gray-dot {
  background-color: #a9aaad;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.list-heading {
  font-size: 50px;
  padding-top: 15px;
  font-weight: 500;
  position: relative;
  @media (max-width: 767px) {
    font-size: 36px;
  }
  @media (max-width: 576px) {
    font-size: 26px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 4px;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
    border-radius: 2px;
  }
}

.flex-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 576px) {
      flex-direction: column;
  }

  > .flex-item {
      width: calc(#{(100/3)}% - 20px);
      margin: 15px 0;
      display: flex;
      &:nth-child(3n + 2) {
        justify-content: center;
        @media (max-width: 576px) {
          justify-content: flex-start;
        }
      }
      &:nth-child(3n + 3) {
        justify-content: flex-end;
        @media (max-width: 576px) {
          justify-content: flex-start;
        }
      }
      @media (max-width: 576px) {
        width: 100%;
      }
  }
}

.flex-2 {
  display: flex;
  > .flex-item {
    width: calc(50% - 10px);
    &:first-child {
      margin-right: 20px;
    }
  }
  
  @media screen and (max-width: 767px){
    flex-direction: column;
    > .flex-item {
      width: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
  }
  &.features {
    flex-wrap: wrap;
    > .flex-item {
      &:first-child {
        margin-right: 0px;
      }
    }
  }
}

.tag {
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 999px;
  background-color: #ffffff;
  border: 1px solid;
  color: #979797;
  white-space: nowrap;
  transition: all 0.5s ease-in;
  cursor: pointer;
  &:hover {
    color: #FFAC12;
  }
}

.text-success {
  color: #08AD36;
}
